{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.es.resultsTitle | safeHTML }}</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="{{`images/illustrations/bgimage2.jpg` | relURL}}" alt="bg-shape">
    </div>

    <!-- social icon -->

    <!-- /social icon -->
  </section>
  <!-- /hero area -->



  {{ if .Site.Data.homepage.projectIntro.enable }}
  <!-- Project Description -->
  <section class="section">
    <div class="container">
      <div class="row cardrow">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ .Site.Data.homepage.projectDescription.es.resultHeader1 | safeHTML }}</h2>
        </div>
        <div class="card-footer cardrow-footer">
          <h4 class="card-title">{{ .Site.Data.homepage.projectDescription.es.resultContent1 | safeHTML }} </h4>
      </div>
    </div>
  </section>
  <!-- /Project Description -->
  {{ end }}
  
  {{ if .Site.Data.homepage.projectIntro.enable }}
  <!-- Project Description -->
  <section class="section">
    <div class="container">
      <div class="row cardrow">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ .Site.Data.homepage.projectDescription.es.resultHeader2 | safeHTML }}</h2>
        </div>
        <div class="card-footer cardrow-footer">
          <h4 class="card-title">{{ .Site.Data.homepage.projectDescription.es.resultContent2 | safeHTML }} </h4>
        </div>
      </div>
    </div>
  </section>
  <!-- /Project Description -->
  {{ end }}


  {{ if .Site.Data.homepage.projectIntro.enable }}
  <!-- Project Description -->
  <section class="section">
    <div class="container">
      <div class="row cardrow">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ .Site.Data.homepage.projectDescription.es.resultHeader3 | safeHTML }}</h2>
        </div>
        <div class="card-footer cardrow-footer">
          <h4 class="card-title">{{ .Site.Data.homepage.projectDescription.es.resultContent3 | safeHTML }} </h4>
        </div>
      </div>
    </div>
  </section>
  <!-- /Project Description -->
  {{ end }}

{{ end }}
