{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.subtitle | safeHTML }}</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="{{`images/illustrations/bgimage2.jpg` | relURL}}" alt="bg-shape">
    </div>

    <!-- social icon -->

    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.btnText}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


  {{ if .Site.Data.homepage.projectIntro.enable }}
  <!-- Project Description -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">PROJECT DESCRIPTION2</h2>
        </div>
        <div class="card-footer bg-white">
          <h4 class="card-title">The purpose of the project is to remove subsurface contamination related to releases from a former dry cleaner. Electrical resistance heating technology will be used to remediate the subsurface contamination. Cleanup will also facilitate future redevelopment of the Spic’N Span property. </h4>
        </div>
      </div>
    </div>
  </section>
  <!-- /Project Description -->
  {{ end }}


  <section class="section">
    <div class="container">
        <div class="col-lg-12 text-center">
        <h2 class="section-title">Where is it?</h2>
        </div>
        <style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="300" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="SpicnSpan" src="//aspectconsulting.maps.arcgis.com/apps/Embed/index.html?webmap=a82abb69c86f4e8493dccea939fe0778&extent=-122.3265,47.5954,-122.3229,47.5968&zoom=true&previewImage=false&scale=true&basemap_toggle=true&alt_basemap=streets&disable_scroll=true&theme=light"></iframe></div>
</div>
</section>


  {{ if .Site.Data.homepage.projectBackground.enable }}
  <!-- Project Background -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">BACKGROUND AND PROPERTY HISTORY</h2>
        </div>
        <div class="card-footer bg-white">
          <h4 class="card-title">Years of dry cleaner operation on the property have resulted in releases of contaminants including PCE (“perc”) and mineral spirits into the soil and groundwater beneath the building. The contaminants have migrated beneath the neighboring property to the north, which is currently a parking lot owned by KeyBank and, also to the south east into the Maynard Avenue South right-of-way. </h4>
        </div>
      </div>
    </div>
  </section>
  <!-- /Project Background -->
  {{ end }}

  {{ if .Site.Data.homepage.experience.enable }}
  <!-- experience -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Experience</h2>
        </div>
        {{ range .Site.Data.homepage.experience.item }}
        <div class="col-lg-3 col-md-4 text-center">
          <img src="{{.logo}}" alt="icon">
          <p class="mb-0">{{.duration}}</p>
          <h4>{{.title }}</h4>
          <h6 class="text-light">{{.company }}</h6>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- ./experience -->
  {{ end }}

  {{ if .Site.Data.homepage.education.enable }}
  <!-- education -->
  <section class="section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Education</h2>
        </div>
        {{ range .Site.Data.homepage.education.item }}
        <div class="col-lg-6 col-md-6 mb-80">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
            </div>
            <div>
              <p class="text-dark mb-1">{{.year}}</p>
              <h4>{{ .title }}</h4>
              <p class="mb-0 text-light">{{.academy}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="{{`images/backgrounds/education-bg.png`|relURL}}" alt="bg-image">
  </section>
  <!-- /education -->
  {{ end }}


  {{ if .Site.Data.homepage.service.enable }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">PROJECT TIMELINE</h2>
        </div>
        {{ range .Site.Data.homepage.service.item }}
        <div class="col-md-4 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="{{.icon }} icon mb-5 d-inline-block"></i>
              <h4 class="mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}

  {{ if .Site.Data.homepage.projectContacts.enable }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">PROJECT CONTACTS</h2>
        </div>
        <div class="card-footer bg-white">
          <h4 class="card-title">Washington State Department of Ecoloy, Toxics Cleanup Program</h4>
          <h5><a href= "tel:+14256497134">(412)-649-7134</a></h5>
        </div>
        <br>
        <div class="card-footer bg-white">
          <h4 class="card-title">Aspect Consulting, LLC, Jeremy Porter</h4>
          <h5>Email: <a href="jporter@aspectconsulting.com">jporter@aspectconsulting.com</a> | <a href= "tel:+2068385838">(206)-838-5835</a></h5>
        </div>
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}

  {{ if .Site.Data.homepage.portfolio.enable }}
  <!-- portfolio -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Portfolio</h2>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ range .Site.Data.homepage.portfolio.item }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .projectURL }}">view project</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /portfolio -->
  {{ end }}


  {{ if .Site.Data.homepage.testimonial.enable }}
  <!-- testimonial -->
  <section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title text-white mb-5">Testimonials</h2>
        </div>
        <div class="col-lg-10 mx-auto testimonial-slider">
          {{ range .Site.Data.homepage.testimonial.item }}
          <!-- slider-item -->
          <div class="text-center testimonial-content">
            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
            <p class="text-white mb-4">{{.content | markdownify}}</p>
            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{.image | absURL }}" alt="client-image">
            <h4 class="text-white">{{.name }}</h4>
            <h6 class="text-light mb-4">{{ .designation }}</h6>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <!-- bg shapes -->
    <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map">
    <img src="{{`images/illustrations/dots-group-v.png` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1">
    <img src="{{`images/illustrations/leaf-orange.png` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2">
    <img src="{{`images/illustrations/dots-group-sm.png` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3">
    <img src="{{`images/illustrations/leaf-pink-round.png` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-4">
    <img src="{{`images/illustrations/leaf-cyan.png` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5">
  </section>
  <!-- /testimonial -->
  {{ end }}


  {{ if .Site.Data.homepage.clientSlider.enable }}
  <!-- client logo slider -->
  <section class="section pb-0">
    <div class="container">
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Blogs</h2>
        </div>
        {{ range first 3 .Data.Pages }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">
            <div class="card-body">
              <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
              </h4>
              <p class="cars-text">{{.Summary}}</p>
              <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


{{ end }}